<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../App.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="top" id="top">
      <p>
        シヅカタ イクミです。 この度はご覧いただき、誠にありがとうございます。
        本ポートフォリオでは、私がこれまでに学んできた技術や制作物をご紹介しています。
        「わかる側・つくる側」として社会に貢献できるよう、日々学習と実践に取り組んでいます。
        ご興味をお持ちいただけましたら、ぜひお問い合わせください。
      </p>
    </section>

    <section class="profile" id="profile">
      <img src="" alt="" />
      <p>
        建築業界で営業から設計・施工管理まで幅広く経験してきました。<br />
        昔から"ものづくり"が好きでした。ITの力で「仕組みをつくる側」として、<br />
        誰かの役に立てるようなサービスを作ることが目標です。
        <br />
        今はReactやJavaScriptを中心に、Webアプリ開発を独学で学んでいます。
        <br />
        将来的には、前職までの経験を活かし、チームを支えるディレクターとしても活躍していきたいです。
      </p>
    </section>

    <section class="skills" id="skills">
      <div class="text-center">
        <h2 class="title">スキル</h2>
        <div class="row text-center">
          <div class="services col-md-6 col-lg-4">
            <img src="{reactImage}" />
            <h4>React</h4>
            <p>Reactがつかえます</p>
          </div>
          <div class="services col-md-6 col-lg-4">
            <img src="{jsImage}" />
            <h4>Javascript</h4>
            <p>HTML/CSS/Javascriptがつかえます</p>
          </div>
          <div class="services col-md-6 col-lg-4">
            {" "}
            <img src="{pythonImage}" />
            <h4>Python</h4>
            <p>xPythonがつかえます</p>
          </div>
          <div class="services col-md-6 col-lg-4">
            <img src="{phpImage}" />
            <h4>PHP</h4>
            <p>PHPがつかえます</p>
          </div>
          <div class="services col-md-6 col-lg-4">
            {" "}
            <img src="{firebaseImage}" />
            <h4>Firebase</h4>
            <p>Firebaseがつかえます</p>
          </div>
          <div class="services col-md-6 col-lg-4">
            <img src="{githubImage}" />
            <h4>github</h4>
            <p>githubがつかえます</p>
          </div>
        </div>
        <button type="button" class="btn btn-primary">スキルー覧</button>
      </div>
    </section>

    <section class="works" id="works">
      <div className="service">
        <div class="text-center">
          <h2 class="section-heading text-uppercase">Works</h2>
        </div>

        <div class="row text-center">
          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <img src="{quickWin}" />
            </div>
            <h4 class="my-3">Quick Win Analyzer</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <a href="https://chat-app-red-nine-23.vercel.app/">
                <img src="{chatApp}" />
              </a>
            </div>
            <h4 class="my-3">chat app</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <a href="https://simple-todo-app-sage-mu.vercel.app/">
                <img src="{todoApp}" />
              </a>
            </div>
            <h4 class="my-3">todo app</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <img src="{quickWin}" />
            </div>
            <h4 class="my-3">EC site</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <a href="https://line-clone-nine.vercel.app/">
                <img src="{lineClone}" />
              </a>
            </div>
            <h4 class="my-3">line-clone</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="services work">
              <a href="https://line-clone-nine.vercel.app/">
                <img src="{lineClone}" />
              </a>
            </div>
            <h4 class="my-3">My portfolio</h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              maxime quam architecto quo inventore harum ex magni, dicta
              impedit.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="blog" id="blog"></section>

    <section class="forms" id="forms"></section>
  </body>
</html>
